*.gitkeep
node_modules
/dist

.env
public/settings.enc.json
settings.enc.json
public/users.json
users.json
users.source.json
handoff.md
secrets.md

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
